@model JobPortal.Models.Job

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/WebsiteViews/_AccountLayout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Job</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.No_of_Post, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.No_of_Post)
                @Html.ValidationMessageFor(model => model.No_of_Post)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Start_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Start_Date)
                @Html.ValidationMessageFor(model => model.Start_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.End_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.End_Date)
                @Html.ValidationMessageFor(model => model.End_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Position_Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Position_Code)
                @Html.ValidationMessageFor(model => model.Position_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category_Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Category_Code)
                @Html.ValidationMessageFor(model => model.Category_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Area_Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Area_Code)
                @Html.ValidationMessageFor(model => model.Area_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Job_Shift_Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Job_Shift_Code)
                @Html.ValidationMessageFor(model => model.Job_Shift_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Salary_Range_Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salary_Range_Code)
                @Html.ValidationMessageFor(model => model.Salary_Range_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Experience_Ind, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Experience_Ind)
                @Html.ValidationMessageFor(model => model.Experience_Ind)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Education_Req, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Education_Req)
                @Html.ValidationMessageFor(model => model.Education_Req)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Job_Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Job_Description)
                @Html.ValidationMessageFor(model => model.Job_Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Job_Post_Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Job_Post_Status)
                @Html.ValidationMessageFor(model => model.Job_Post_Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FK_Company_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FK_Company_id)
                @Html.ValidationMessageFor(model => model.FK_Company_id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
