@model JobPortal.Models.Company

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/WebsiteViews/_AccountLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Company</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Email_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Email_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Status_Ind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_Status_Ind)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
