@model JobPortal.Models.Company

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/WebsiteViews/_AccountLayout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Company</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { disabled = "disabled" }})
                @Html.ValidationMessageFor(model => model.Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CEO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CEO)
                @Html.ValidationMessageFor(model => model.CEO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Company_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Company_name)
                @Html.ValidationMessageFor(model => model.Company_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Company_Contact, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Company_Contact)
                @Html.ValidationMessageFor(model => model.Company_Contact)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Company_Email_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Company_Email_id, new { htmlAttributes = new { disabled = "disabled" }})
                @Html.ValidationMessageFor(model => model.Company_Email_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Company_Logo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Company_Logo)
                @Html.ValidationMessageFor(model => model.Company_Logo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Company_Website, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Company_Website)
                @Html.ValidationMessageFor(model => model.Company_Website)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Company_Fax, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Company_Fax)
                @Html.ValidationMessageFor(model => model.Company_Fax)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Company_Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Company_Description)
                @Html.ValidationMessageFor(model => model.Company_Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Company_Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Company_Address)
                @Html.ValidationMessageFor(model => model.Company_Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Company_Status_Ind, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Company_Status_Ind)
                @Html.ValidationMessageFor(model => model.Company_Status_Ind)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
