
<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    @Styles.Render("~/Website/Content/css")
    @Scripts.Render("~/Website/bundles/jquery")
    <!--[if IE]><script src="js/html5.js"></script><link rel="stylesheet" type="text/css" href="css/ie.css"><![endif]-->

</head>

<body class="login">
    <header>
        @if (User.IsInRole("Candidate"))
        {
            @Html.Partial("~/Views/Shared/WebsiteViews/Partial/_CandidateMenuPartialView.cshtml")
            @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
        }
        else if (User.IsInRole("Employer"))
        {
            @Html.Partial("~/Views/Shared/WebsiteViews/Partial/_EmployerMenuPartialView.cshtml")
            @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
        }
        else if (User.IsInRole("Admin"))
        {
            @Html.Partial("~/Views/Shared/WebsiteViews/Partial/_AdminMenuPartialView.cshtml")
            @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
        }
    </header>
    <!-- header -->
    <div class="wrapper login-wrapper">
        @RenderBody()
    </div>
    @Scripts.Render("~/FrontEnd/bundles/scripts")
</body>
</html>


