<nav class="site-nav">
    <ul>
        <li class="current_page_item">
            <a href="@Url.Action("index","Home")">Home</a>
            <ul class="sub-menu">
                <li class="current_page_item"><a href="@Url.Action("Index","Home")">Home 1</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Oprerations</a>
            <ul class="sub-menu">
                <li><a href="@Url.Action("Index","Company")">Companies</a></li>
                <li><a href="@Url.Action("Index","Company")">Candidates</a></li>
                <li><a href="@Url.Action("Index","Area")">Area</a></li>
                <li><a href="@Url.Action("Index","Category")">Category</a></li>
                <li><a href="@Url.Action("Index","JobShifts")">Job Shifts</a></li>
                <li><a href="@Url.Action("Index","SalaryRange")">Salary Range</a></li>
            </ul>
        </li>
    </ul>
</nav>

