<nav class="site-nav">
    <ul>
        <li><a href="@Url.Action("About","Home")">About</a></li>
        <li><a href="@Url.Action("PrivacyPolicy", "Home")">Privacy Policy</a></li>
        <li><a href="@Url.Action("Sitemap", "Home")">Sitemap</a></li>
        <li><a href="@Url.Action("JobsIn", "Home")">Jobs In</a></li>
        <li><a href="@Url.Action("JobPage", "Home")">Job Page</a></li>
        <li><a href="@Url.Action("JobsList", "Home")">Jobs List</a></li>
    </ul>
</nav>
